## Question 1

Entities to investigate

Mar de la Vida OJSC

979893388

Oceanfront Oasis Inc Carrie


8327
Use visual analytics to dynamically display and explore context around the suspected entities listed above. What did you learn about each one? Can you connect them to illegal fishing? Provide evidence for or against the case that each entity is involved in illegal fishing and use visual analytics to express confidence in your conclusions.

In [6]:
import pandas as pd
import json

# Specify the encoding parameter when opening the file
with open('dataset/MC1.json', encoding='utf-8') as f:
    data = json.load(f)

# Convert JSON to DataFrame
df = pd.json_normalize(data)

In [18]:
df.head(1)

,directed,multigraph,nodes,links
0,True,True,"[{'type': 'company', 'dataset': 'MC1', 'countr...","[{'type': 'ownership', 'weight': 0.90013963, '..."

In [32]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   directed    1 non-null      bool
 1   multigraph  1 non-null      bool
 2   nodes       1 non-null      object
 3   links       1 non-null      object
dtypes: bool(2), object(2)
memory usage: 150.0+ bytes
None

In [33]:
print(df['nodes'].head(1))

0    [{'type': 'company', 'dataset': 'MC1', 'countr...
Name: nodes, dtype: object

In [52]:
nodes_df = pd.json_normalize(df['nodes'])
type = nodes_df[0]
print(type)

0    {'type': 'company', 'dataset': 'MC1', 'country...
Name: 0, dtype: object